@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    section.products {
        display: inline-block;
    }

}

@media screen and (min-width: 992px) {
    
    section.products {
        display: inline-block;
    }

    .pt1 {
        margin-left: 50px;
        
    }

}